.skill {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;
}

.icon {
    height: 100%;
    width: 100%;
}

.icon img {
    height: 80px;
    width: 80px;
}

.title {
    margin: 28px 0;
    font-size: 24px;
}

.description {
    color: rgb(108, 117, 125);
    line-height: 28px;
}