.mainBlock {
    height: 100vh;
    background-color: #f5df4e;
}

.textBlock {
    width: 350px;
}

.avatar {
    width: 455px;
    height: 455px;
    background-color: black;
    border: 15px solid white;
    border-radius: 220px;
    overflow: hidden;
    position: relative;
}

.avatar img {
    height: 130%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -90px;
}

.text1 {
    font-size: 32px;
}

.text2 {
    margin: 22px 0 20px 0;
    padding: 0 0 10px 0;
    font-size: 3.5vw;
}

.buttons {
    display: flex;
}

.buttons img {
    height: 20px;
    width: 20px;
}

.button2Block {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button1 {
    padding: 10px 20px;
    font-weight: 500;
    color: white;
    background-color: #212529;
    border-style: none;
    cursor: pointer;
}

.button2 {
    padding: 10px 5px 10px 20px;
    font-weight: 500;
    background-color: #f5df4e;
    border-style: none;
    text-decoration: underline;
    cursor: pointer;
}

.button2:hover {
    text-decoration: none;
}

@media (max-width: 1115px) {
    .mainContainer {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .avatar {
        width: 400px;
        height: 400px;
        margin: 80px 0 0 0;
        background-color: black;
        border: 15px solid white;
        border-radius: 220px;
        overflow: hidden;
        position: relative;
    }

    .avatar img {
        height: 130%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom: -80px;
        left: 0;
    }

    .text {
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text1 {
        margin: 10px 0 0 0;
    }
    .text2 {
        font-size: 48px;
    }
}


@media (max-width: 465px) {
    .photo {
        height: 300px;
        width: 300px;
    }
}
