.footerBlock {
    height: 22vh;
    background-color: #111418;
}

.footerContainer {

}

.text {
    color: white;
}

.buttonUp:hover {
    background-color: #f5df4e;
    box-shadow: 0 0 6px 4px rgba(128, 128, 128, 0.77);
    transition: 0.4s;
}

@media (max-width: 1115px) {
    .footerContainer {
        width: 90%;
        justify-content: center;
    }
    .footerBlock {
        font-size: 16px;
    }
}